<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Top Headlines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item
      button
      detail
      lines="inset"
      *ngFor="let headline of headlinesResult"
      (click)="openCard(headline)"
    >
      <ion-label>
        <h2>{{ headline.title }}</h2>
        <p>{{ headline.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <headline-modal *ngIf="isCardOpen" [headline]="selectedHeadline" (close)="closeCard()"></headline-modal>

</ion-content>
