<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Top Headlines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item
      button
      detail
      lines="inset"
      *ngFor="let headline of headlinesResult"
      [routerLink]="['/tabs/headlines', headline.id]"
      (click)="openArticlePage(headline)"
    >
      <ion-label>
        <h2>{{ headline.title }}</h2>
        <p>{{ headline.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
