ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.ion-padding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.image-container {
  position: relative;
}

.image-container ion-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #000;
  padding: 10px;
}
.image-container ion-label h2 {
  color: #000;
}
.image-container ion-label p {
  color: #888;
}

.item-divider {
  margin-bottom: 50px; /* Adjust the space between items as needed */
  transition: transform 0.2s ease; /* Add a transition for smooth animation */
}

.item-divider:hover {
  transform: scale(0.95); /* Shrink the item slightly on hover */
}
