<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="tabs/(headlines:headlines)">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ article?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="article">
    <ion-card-header>
      <ion-card-title>{{ article.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ article.content }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>