<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Tab button for the "headlines" tab -->
    <ion-tab-button tab="headlines">
      <!-- Icon for the "headlines" tab -->
      <ion-icon name="newspaper-outline"></ion-icon>
      <!-- Label for the "headlines" tab -->
      <ion-label>Headlines</ion-label>
    </ion-tab-button>

    <!-- Tab button for the "tech-news" tab -->
    <ion-tab-button tab="tech-news">
      <!-- Icon for the "tech-news" tab -->
      <ion-icon name="hardware-chip-outline"></ion-icon>
      <!-- Label for the "tech-news" tab -->
      <ion-label>Tech News</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
